
.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-info-container {
    margin-top: 30px;
    width: 800px !important;
    height: 580px;
}

.book-img-large {
    height: 250px;
    width: 250px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.book-info {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.description {
    height: 220px;
    width: 500px;
    overflow: auto;
    font-size: 17px;
}

.card-header {
    height: 100px;
}

.card-footer {
    height: 200px;
    overflow: auto;
}

.card-body {
    height: 700px !important;
}

#edit-book {
    position: absolute;
    right: 2rem;
    top: 0.8rem;
}

#change-name {
    display: none;
    position: absolute;
    right: 2rem;
    top: 6.3rem;
}

#change-image {
    display: none;
    position: absolute;
}

#change-authors {
    display: none;
    position: absolute;
    right: 2rem;
}

#change-year {
    display: none;
    position: absolute;
    width: 200px;
}

#change-description {
    display: none;
    position: absolute;
    width: 500px;
}

form {
    width: 250px;
}