.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.remember-me-container {
    display: flex;
}

.remember_me {
    margin: 10px;
}