form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98%;
}

input {
    margin: 0.5rem;
    width: 200px;
}

label {
    width: 150px;
}

.apply {
    width: 370px;
}