html {
    height: 100%;
}

body {
    position: relative;
    background: #def4ff !important;
    min-height: 45rem;
    padding-bottom: 80px;
}

.card {
    width: 18rem !important;
    padding: 1px;
    border: 1.5px black solid !important;
}