{% extends 'base.html.twig' %}

{% block title %}Изменить автора{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/new_author.css') }}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Изменить автора</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Обновить'}) }}
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
